/* font-family: 'Vollkorn', serif; */

body {
  background-color: #F3F3F3 !important;
  font-family: 'Montserrat', sans-serif !important;
  background-image: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
}


.font-times {
  font-family: 'Times New Roman', Times, serif !important;
}

.button-waysbook {
  background-color : #393939 !important;
  font-size: 14px !important;
}
.button-waysbook-outlined {
  border : 1px solid #393939 !important;
  font-size: 14px !important;
}

.section-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.secondary-blue {
  color: #44B200;
}

.bg-secondary-gray {
background-color: #DFDFDF;
}


.dropdown-toggle::after {
  display: none !important;
}

.hero-container {

  margin-top: -5rem;
}

.hero-tagline {
  font-family: 'Vollkorn', serif !important;
}

.carousel-container {
overflow-x: scroll;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-title {
  font-size: 24px !important;
  font-family:  'Times New Roman', Times, serif;
  line-height: 120.5%;
}

.carouselItem {
  height: 345px;
  width: 500px;
  margin-right: 60px;
}
.carousel-text {
  height: 92%;
  width: 60%; 
}
.carousel-desc .carousel-author{
  font-size: 14px !important;
}

.carousel-desc  {
  text-align: justify;
}

.bookcard {
  height: 320px !important;
  width: 100%;
}
.bookcard em {
  font-size: 14px !important;
}

.bookcard-img {
filter: drop-shadow(0px 2px 4px rgba(189, 189, 189, 0.653));
border-radius: 1px;
width: 100%;
height: 300px;
object-fit: cover;
}

.image-detail {
  filter: drop-shadow(0px 2px 4px rgba(189, 189, 189, 0.653));
border-radius: 1px;
}

.cardbook-title  {
  font-size: 24px;
  line-height: 120.5%;
  font-family:  'Times New Roman', Times, serif;
}

.quotesection-container {
  height: 100px;
}

.quote-text {
  font-size: 36px;
  font-weight: 600;
  width: 480px;
  font-family: 'Vollkorn', serif !important;
}

.quote-section {
  margin-top: 200px;
  background: linear-gradient(269.69deg, #FFFFFF 16.78%, rgba(255, 255, 255, 0.42) 95.23%);
}

.quote-container {
  background-image: url('./assets/bg-circle.svg');
  background-repeat: no-repeat;
  width: 700px;
}

.image-quote {
  height: 260px;
}

footer p {
  font-size: 13px;
}

.footer-sitemap {
  font-size: 13px;
 
}

.footer-sitemap a {
  text-decoration: none;
  color: black;
}
.footer-sitemap a:not(:last-child) {
  text-decoration: none;
  color: black;
  margin-right: 14px;
}

.zigzag-image {
transform: translate(40%, -50%);
}
.zigzag-image-bottom{
transform: translate(-40%, 50%);
}

a {
  text-decoration: none !important;
  color: inherit !important;
}


.contact-container {
  border-bottom: 1px solid #A7A5A5;
}

.chat-container {
  height: 80vh;
}

.chat-header {
  background-color: #C4C4C4;
}
.online-indicator {
  width: 8px;
  height: 8px;
  background-color: #44B200;
}

.chat-text {
  width: 45%;
}

.bg-gray {
  background-color:  #F4F4F4 !important} 

.bg-gray-light {
  background-color:  #F2F2F2 !important} 

.bg-gray-dark {
  background-color:  #BCBCBC !important} 

.bg-pink {
  background-color: #FFD9D9 !important;
}

.resize-none {
  resize: none;
}


.fs-small {
  font-size: 14px !important;
}
.fs-xsmall {
  font-size: 12px !important;
}

.profile-image {
  width: 200px;
}



#file-upload, #file-image-upload {
  display: none;
}

.preview-image {
  object-fit: cover;
}
.preview-image-wrapper {
  overflow: hidden;
  width: 140px;
}

.object-fit-cover {
  object-fit: cover}

  .cart-icon-qty {
    font-size: 8px !important;
    color: white !important;
    font-weight: 600;
    right: 9%;
  }

.messages-container {
  overflow-y: scroll;
  height: 62vh;
}


.messages-container::-webkit-scrollbar {
  width: 10px;
  background-color:  red !important;
}


.messages-container::-webkit-scrollbar-thumb {
  background: #cccccc; 
  height: 10px;
  border-radius: 10px;
}

.messages-container::-webkit-scrollbar-track {
  background: #DFDFDF
}



.cart-empty {
  height: 40vh;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 8px;
  border-radius: 10px;
}